<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>RdTrpr</title>
    <link href="static/css/maps.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
      function getBoundsZoomLevel(minLat, maxLat, minLng, maxLng, height, width) {
        var GLOBE_HEIGHT = 256;
        var GLOBE_WIDTH = 256;

        var latAngle = maxLat - minLat;
        var lngAngle = maxLng - minLng;

        var latZoomLevel = Math.floor(Math.log(height * 360 / latAngle / GLOBE_HEIGHT) / Math.LN2);
        var lngZoomLevel = Math.floor(Math.log(width * 360 / lngAngle / GLOBE_WIDTH) / Math.LN2);

        return (latZoomLevel < lngZoomLevel) ? latZoomLevel : lngZoomLevel;
      }

      function initialize() {
        var history = {{hist}}
        var latCen = 0
        var lngCen = 0
        if(history.length > 0) {
          console.log(history)
          latCen = (history[0][0] + history[history.length-1][0])/2
          lngCen = (history[0][1] + history[history.length-1][1])/2
        }
        var myLatLng = new google.maps.LatLng(latCen, lngCen);
        calc minLat, maxLat, minLng, maxLng;
        var lats = []
        for (i = 0; i < history.length; i++) {
          lats[i] = history[i][0]
        }
        var lngs = []
        for (i = 0; i < history.length; i++) {
          lngs[i] = history[i][1]
        }
        var minLat = Math.min.apply(Math, lats);
        val maxLat = Math.max.apply(Math, lats);
        val minLng = Math.min.apply(Math, lngs);
        val maxLng = Math.max.apply(Math, lngs);

        var mapOptions = {
          zoom: getBoundsZoomLevel(minLat, maxLat, minLng, maxLng, window.innerHeight, window.innerWidth),
          center: myLatLng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

        var i = 0

        var ghistory = []
        for (i=0; i < history.length; i++) {
          ghistory[i] = new google.maps.LatLng(history[i][0], history[i][1])
        }
      
        var flightPath1 = new google.maps.Polyline({
          path: ghistory.slice(0, ghistory.length-1),
          strokeColor: '#0000FF',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        var flightPath2 = new google.maps.Polyline({
          path: ghistory.slice(ghistory.length-2, ghistory.length),
          strokeColor: '#FF0000',
          strokeOpacity: 1.0,
          strokeWeight: 2
        });

        flightPath1.setMap(map);
        flightPath2.setMap(map);

        xmlhttp=new XMLHttpRequest();
        if(history.length > 0) {
          xmlhttp.open("GET", "https://api.foursquare.com/v2/venues/search?ll=" + history[history.length-1][0] + "," + history[history.length-1][1] + "&intent=browse&radius=800&client_id=NTXGIW3A3ZUDBWKYT1EHHSJZF35KU2W0U4Z5ZAR5GUAYGHXI&client_secret=SQ0CZIH4X4FJLZOHBGPUQHPPQDJBZMOT2MFW5DP3P3JPMVZ2&v=20130330", false);
          xmlhttp.send();
          //console.log(xmlhttp.responseText);
        }
      }
    </script>
  </head>
  <body onload="initialize()">
    <div id="map-canvas"></div>
    <div id="information">
      <div id="data">
        <script>console.log({{data}})</script>
        {% block content %}
          {% for el in data %}
          <p>{{el}}</p>
          {% endfor %}
          {% endblock %}
      </div>
      </div>
    </div>
  </body>
</html>
