html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map-canvas, #map_canvas {
  width: 100%;
  height: 70%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

#data {
  font-family: Helvetica;
  margin-left: 10%;
  width: 80%;
  background-color: #eee;
  border-radius: 25px;
}

.acutal_info {
  padding: 30px;
}

#credit-foursquare {
  padding-left: 15px;
  padding-bottom: 3px;
}